.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example

# Only use for svelte files, let biome handle the rest
*.cjs
*.js
*.ts
*.json

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

.cloudflare
