.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
bun.lockb
*.db*
*.sqlite
static/fonts/*
notes.md
.cloudflare
wrangler.toml
