@font-face {
  font-family: 'Kode Mono';
  src: url('/fonts/KodeMono-VariableFont_wght.ttf') format('truetype');
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scrollbar-gutter: auto !important;
}

/* body { */
/*   min-height: 100svh; */
/*   display: flex; */
/*   flex-direction: column; */
/* } */

/* main { */
/*   flex-grow: 1; */
/* } */
